extends ../../layout/layout
include ../../components/main/main
include ../../components/footer/footer
include ../../components/article-blog/article-blog
include ../../components/subscription/subscription
include ../../components/blog-recommendations/blog-recommendations

block content
    div#barba-wrapper
        .barba-container(data-namespace='blog-article')
            +main
                +article-blog(data.blogArticle)
                +blog-recommendations({posts: data.blogRecommendations})
                +subscription({
                    title: 'Подписка на&nbsp;блог',
                    subtitle: 'Читайте первыми наши полезные статьи про английский и&nbsp;не&nbsp;только',
                    picture: {
                        sources: [{
                            srcset: '../blog/images/bg-mobile.png',
                            media: '(max-width: 1199.98px)'
                        }],
                        img: '../blog/images/bg.png',
                        objectFit: 'contain',
                        objectPosition: 'bottom'
                    }
                })
            +footer
