mixin sandwich-menu-btn(args)
    button.sandwich-menu-btn&attributes(attributes)
        span.sandwich-menu-btn__text.d-none.d-md-block Меню
        .sandwich-menu-btn__burger
            .sandwich-menu-btn__line.sandwich-menu-btn__line_top
            .sandwich-menu-btn__line.sandwich-menu-btn__line_middle
            .sandwich-menu-btn__line.sandwich-menu-btn__line_bottom
