mixin blog-statistics(args)
    .blog-statistics&attributes(attributes)
        .blog-statistics__item
            .blog-statistics__item-icon
                +svg({name: 'union'})
            .blog-statistics__item-count 547
        .blog-statistics__item
            .blog-statistics__item-icon
                +svg({ name: 'bubble' })
            .blog-statistics__item-count 14
        .blog-statistics__item
            .blog-statistics__item-icon
                +svg({ name: 'watch' })
            .blog-statistics__item-count 9874
