include ../../components/picture/picture
include ../btn/btn
include ../language-selector/language-selector

mixin sandwich-menu(args)
    .sandwich-menu&attributes(attributes)
        .sandwich-menu__wrapper
            .sandwich-menu__figure.d-none.d-xl-block
                +picture({
                    sources: [{
                        srcset: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=',
                        media: '(max-width: 1199.9px)'
                    }],
                    img: data.sandwichMenu.img
                })
            .sandwich-menu__menu-container
                .sandwich-menu__top.d-xl-none
                    +language-selector.sandwich-menu__lang-selector
                    .sandwich-menu__lk-btn
                        +btn({ tagName: 'a' })(href='https://lk.londonexpress-online.com').btn_lk
                            span.btn__text Кабинет
                            .btn__icon
                                +svg({name: 'lk'})
                ul.sandwich-menu__main-menu
                    each item in data.sandwichMenu.mainMenu
                        li.sandwich-menu__main-menu-item
                            a(href!= item.href target=`${item.title === 'Вакансии' ? '_blank' : ''}`)!= item.title
                ul.sandwich-menu__submenu
                    each item in data.sandwichMenu.submenu
                        li.sandwich-menu__submenu-item
                            a(href!= item.href target=`${item.title === 'Вакансии' ? '_blank' : ''}`)!= item.title

