mixin preloader(args)
    .preloader&attributes(attributes)
        .preloader__img.smooth-show
            img(src='../../components/preloader/images/preload.jpg')
        .preloader__progress-bar.smooth-show
            .preloader__progress

