$color-1: #202020;
$color-2: #F5F0F2;
$color-3: #FF6F82;
$color-4: #764CED;
$color-5: #F4F2F9;
$color-6: #3CC3E1;
$color-7: #333;
$color-8: #2B2A35;
$color-9: #242424;
$color-10: #FF7C8C;
$color-11: #2C2C2C;
$color-12: #F8F8F8;
$color-13: #FAF8F8;
$color-14: #FF798A;
$color-15: #F7F6FB;
$color-16: #F95C5C;
$color-17: #FEF4F8;
$color-18: #FF6072;
$color-19: #7C4FFC;
$color-20: #FBF8F9;
$color-21: #FFB804;
$color-22: #ea5167;
