extends ../../layout/layout
include ../../components/main/main
include ../../components/footer/footer
include ../../components/h1-title/h1-title
include ../../components/section/section
include ../../components/content-area/content-area

block content
    div#barba-wrapper
        .barba-container(data-namespace='privacy-policy')
            +main
                +h1-title({title: 'Политика в&nbsp;отношении обработки персональных данных клиентов', description: 'ИП Пильгуева Г.А.'})
                +section.section_pb.privacy-policy__content
                    +content-area.content-area_document
                        .row
                            .col-md-22.offset-md-1.col-xl-20.offset-xl-2
                                ol.content-area__ol_with-h2-headers
                                    li(data-anim='anim-3')
                                        h2 Общие положения
                                        ol.content-area__ol_margin-top
                                            li Настоящий документ принят во&nbsp;исполнение пункта 2&nbsp;части 1&nbsp;статьи 18.1 Федерального закона от&nbsp;27.07.2006&nbsp;г. &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo; (далее&nbsp;&mdash; Закон &laquo;О&nbsp;персональных данных&raquo;) и&nbsp;определяет политику индивидуального предпринимателя Пильгуева Глеба Авинировича (далее&nbsp;&mdash; Оператор) в&nbsp;отношении обработки персональных данных клиентов при осуществлении Оператором предпринимательской (хозяйственной) деятельности, а&nbsp;также процедуры, направленные на&nbsp;предотвращение и&nbsp;выявление нарушений законодательства Российской Федерации в&nbsp;области защиты персональных данных и&nbsp;устранение последствий таких нарушений.
                                            li Клиентами Оператора в&nbsp;целях применения настоящей Политики являются следующие физические лица:
                                                ul.content-area__ul_dashed.content-area__ul_margin-top
                                                    li посетители сайта в&nbsp;сети &laquo;Интернет&raquo;, принадлежащего Оператору и&nbsp;размещенного по&nbsp;адресу: <a href='http://londonexpress-online.com/' target='__blank'>http://londonexpress-online.com/</a> (далее&nbsp;&mdash; сайт Оператора);
                                                    li физические лица, которые заключают с&nbsp;Оператором договоры гражданско-правового характера, в&nbsp;том числе предоставляющие свои персональные данные и&nbsp;персональные данные несовершеннолетнего лица, законным представителем которого они являются, в&nbsp;связи с&nbsp;намерением заключить такой договор или получить информацию об&nbsp;услугах, оказываемых Оператором и&nbsp;иной деятельности Оператора;
                                                    li физические лица, выступающие представителями (в&nbsp;том числе, руководителями) и&nbsp;работниками юридических лиц и&nbsp;индивидуальных предпринимателей, с&nbsp;которыми Оператор заключает договоры гражданского правового характера, в&nbsp;том числе предоставляющие свои персональные данные в&nbsp;связи с&nbsp;намерением заключить такой договор или получить информацию об&nbsp;услугах, оказываемых Оператором и&nbsp;иной деятельности Оператора.
                                            li Все вопросы, связанные с&nbsp;обработкой персональных данных, не&nbsp;урегулированные настоящей Политикой, разрешаются в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации в&nbsp;области персональных данных.
                                            li Действие настоящей Политики не&nbsp;распространяется на&nbsp;обработку и&nbsp;защиту персональных данных работников Оператора.
                                    li(data-anim='anim-3')
                                        h2 Термины и&nbsp;определения
                                        ol.content-area__ol_margin-top
                                            li Для целей настоящей Политики используются следующие основные термины:
                                                ul.content-area__ul_dashed.content-area__ul_margin-top
                                                    li персональные данные&nbsp;&mdash; любая информация, относящаяся прямо или косвенно к&nbsp;определенному или определяемому физическому лицу (субъекту персональных данных);
                                                    li обработка персональных данных&nbsp;&mdash; любое действие (операция) или совокупность действий (операций), совершаемых с&nbsp;использованием средств автоматизации или без использования таких средств с&nbsp;персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
                                                    li распространение персональных данных&nbsp;&mdash; действия, направленные на&nbsp;раскрытие персональных данных неопределенному кругу лиц;
                                                    li предоставление персональных данных&nbsp;&mdash; действия, направленные на&nbsp;раскрытие персональных данных определенному лицу или определенному кругу лиц;
                                                    li информация&nbsp;&mdash; сведения (сообщения, данные) независимо от&nbsp;формы их&nbsp;представления.
                                            li Значение иных понятий, указанных в&nbsp;настоящей Политике, определяется в&nbsp;соответствии с&nbsp;Законом &laquo;О&nbsp;персональных данных&raquo;, другими нормативными правовыми актами, принятыми в&nbsp;области защиты персональных данных, а&nbsp;также иными нормами законодательства Российской Федерации.
                                    li(data-anim='anim-3')
                                        h2 Цели обработки персональных данных клиентов, порядок предоставления и&nbsp;отзыва клиентами согласия на&nbsp;обработку персональных данных
                                        ol.content-area__ol_margin-top
                                            li Обработка персональных данных клиентов осуществляется в&nbsp;целях:
                                                ul.content-area__ul_dashed.content-area__ul_margin-top
                                                    li предоставления клиентам сведений об&nbsp;услугах, оказываемых Оператором, работах, выполняемых Оператором, товарах, реализуемых Оператором;
                                                    li рассмотрения вопросов, связанных с&nbsp;возможностью дальнейшего сотрудничества между Оператором и&nbsp;физическим лицом;
                                                    li заключения и&nbsp;исполнения с&nbsp;физическим лицом договоров, связанных с&nbsp;предпринимательской (хозяйственной) деятельностью Оператора;
                                                    li заключения и&nbsp;исполнения с&nbsp;юридическим лицом договоров, связанных с&nbsp;предпринимательской (хозяйственной) деятельностью Оператора;
                                                    li осуществления Оператором анализа качества и&nbsp;объемов оказываемых им&nbsp;услуг, выполняемых работ, реализуемых товаров.
                                            li Оператор вправе обрабатывать персональные данные клиентов с их согласия, если иное не предусмотрено законом.
                                            li <span class='content-area__bold-text'>Согласие на&nbsp;обработку персональных данных может быть оформлено клиентом следующими способами:</span>
                                                ul.content-area__ul_dashed.content-area__ul_margin-top
                                                    li в&nbsp;простой письменной форме путем направления его непосредственно по&nbsp;адресу места нахождения Оператора;
                                                    li <span class='content-area__bold-text'>путем оплаты счета Оператора в&nbsp;целях заключения договора об&nbsp;оказании платных образовательных услуг, размещенного на&nbsp;сайте Оператора. В&nbsp;случае заключения такого договора клиент подтверждает, что ознакомлен с&nbsp;настоящей Политикой, а&nbsp;также подтверждает предоставление Оператору согласие на&nbsp;обработку его персональный данных в&nbsp;соответствии с&nbsp;настоящей Политикой;</span>
                                                    li в&nbsp;электронном виде на&nbsp;сайте Оператора путем проставления знака об&nbsp;ознакомлении и&nbsp;согласии с&nbsp;настоящей Политикой на&nbsp;соответствующей странице сайта Оператора;
                                                    li иным способом.
                                            li В&nbsp;случае оформления клиентом согласия в&nbsp;электронном виде на&nbsp;сайте Оператора клиент в&nbsp;соответствии со&nbsp;статьей 9&nbsp;Закона &laquo;О&nbsp;персональных данных&raquo; дает согласие индивидуальному предпринимателю Пильгуеву Г.А. (ИНН 263203740874, ОГРН ИП&nbsp;319265100084137, место жительства: 357560, Ставропольский край, г. Пятигорск, пос. Горячеводский, пр-кт Советской Армии, дом&nbsp;17, квартира 109) на&nbsp;автоматизированную, а&nbsp;также без использования средств автоматизации обработку его персональных данных и&nbsp;персональных данных несовершеннолетнего лица, законным представителем которого он&nbsp;является, а&nbsp;именно совершение действий, предусмотренных пунктом 3&nbsp;статьи 3&nbsp;Закона &laquo;О&nbsp;персональных данных&raquo;. В&nbsp;этом случае клиент дает согласие на&nbsp;обработку персональных данных с&nbsp;учетом следующих условий:
                                                ul.content-area__ul_dashed.content-area__ul_margin-top
                                                    li перечень персональных данных, на обработку которых дается согласие:
                                                        ul.content-area__ul_dashed.content-area__ul_margin-top
                                                            li фамилия, имя, отчество;
                                                            li пол, возраст;
                                                            li дата и место рождения;
                                                            li данные паспорта гражданина Российской Федерации;
                                                            li данные водительского удостоверения;
                                                            li данные свидетельства о государственной регистрации транспортного средства;
                                                            li адрес регистрации по месту жительства и адрес фактического проживания;
                                                            li номер телефона (домашний, мобильный);
                                                            li СНИЛС;
                                                            li ИНН.
                                                        p.content-area__p_margin-top В&nbsp;случае, если клиент не&nbsp;желает давать согласие на&nbsp;обработку каких-либо персональных данных, указанных в&nbsp;настоящем пункте, он&nbsp;имеет право после оформления согласия на&nbsp;сайте Оператора направить ему соответствующее уведомление по&nbsp;электронной почте по&nbsp;адресу: school@londonexpress-online.ru.
                                                            ul.content-area__ul_dashed
                                                                li срок, в&nbsp;течение которого действует согласие: согласие на&nbsp;обработку персональных данных действует со&nbsp;дня его оформления на&nbsp;сайте Оператора до&nbsp;дня его отзыва;
                                                                li способ отзыва согласия: отзыв согласия на&nbsp;обработку персональных данных может быть оформлен в&nbsp;простой письменной форме с&nbsp;проставлением собственноручной подписи клиента и&nbsp;даты. Оформленный таким образом отзыв может быть направлен по&nbsp;адресу места нахождения Оператора, вручен уполномоченному представителю Оператора под роспись, или направлен в&nbsp;отсканированном виде по&nbsp;электронной почте по&nbsp;адресу: school@londonexpress-online.ru.
                                            li Согласие на&nbsp;обработку персональных данных на&nbsp;условиях, установленных в&nbsp;пункте 3.4 настоящей Политики, считается также предоставленным клиентом при направлении Оператору любого электронного сообщения с&nbsp;использованием сайта Оператора.
                                            li Все способы оформления согласия, предусмотренные настоящей Политикой, имеют одинаковое юридическое значение; использование одного из&nbsp;способов оформления согласия является достаточным для выражения воли клиента.
                                    li(data-anim='anim-3')
                                        h2 Права клиентов, связанные с&nbsp;обработкой персональных данных
                                        ol.content-area__ol_margin-top
                                            li Клиент имеет право:
                                                ol.content-area__ol_margin-top
                                                    li Получать доступ к&nbsp;своим персональным данным и&nbsp;ознакомление с&nbsp;ними.
                                                    li Требовать от&nbsp;Оператора уточнения, исключения или исправления неполных, неверных, устаревших, недостоверных, незаконно полученных или не&nbsp;являющихся необходимыми для Оператора персональных данных.
                                                    li Получать от&nbsp;Оператора:
                                                        ul.content-area__ul_dashed.content-area__ul_margin-top
                                                            li сведения о&nbsp;лицах, которые имеют доступ к&nbsp;персональным данным или которым может быть предоставлен такой доступ;
                                                            li перечень обрабатываемых персональных данных и&nbsp;источник их&nbsp;получения;
                                                            li сроки обработки персональных данных, в&nbsp;том числе сроки их&nbsp;хранения;
                                                            li сведения о&nbsp;том, какие юридические последствия для субъекта персональных данных может повлечь за&nbsp;собой обработка его персональных данных.
                                                    li Требовать извещения Оператором всех лиц, которым ранее были сообщены неверные или неполные персональные данные, обо всех произведенных в&nbsp;них исключениях, исправлениях или дополнениях.
                                                    li Обжаловать в&nbsp;уполномоченный орган по&nbsp;защите прав субъектов персональных данных или в&nbsp;судебном порядке неправомерные действия или бездействия Оператора при обработке и&nbsp;защите его персональных данных.
                                                    li Осуществлять другие действия, предусмотренные законодательством Российской Федерации в&nbsp;области защиты персональных данных.
                                                    li Все обращения Клиента по&nbsp;вопросам, связанным с&nbsp;обработкой его персональных данных могут быть направлены оператору по&nbsp;электронной почте по&nbsp;адресу: school@londonexpress-online.ru.
                                    li(data-anim='anim-3')
                                        h2 Доступ к&nbsp;персональным данным клиентов и&nbsp;их&nbsp;защита
                                        ol.content-area__ol_margin-top
                                            li Список лиц, имеющих доступ к&nbsp;персональным данным клиентом, в&nbsp;том, числе, информационным системам персональных данных, устанавливается приказом руководителя Оператора.
                                            li Право доступа в&nbsp;помещения Оператора, где размещены материальные носители персональных данных, а&nbsp;также право доступа в&nbsp;информационные системы персональных данных, принадлежащие Оператору, имеют исключительно лица, указанные в&nbsp;списке, утвержденном в&nbsp;соответствии с&nbsp;пунктом 5.1 настоящей Политики. Доступ иных лиц в&nbsp;такие помещения и&nbsp;к&nbsp;информационным системам персональных данных обеспечивается в&nbsp;присутствии и&nbsp;с&nbsp;согласия лиц, имеющих доступ к&nbsp;персональным данным клиентов.
                                            li Лица, имеющие доступ к&nbsp;персональным данным клиентов, обязаны:
                                                ul.content-area__ul_dashed.content-area__ul_margin-top
                                                    li обеспечивать сохранность материальных носителей персональных данных, в&nbsp;том числе, путем хранения данных материальных носителей (в&nbsp;том числе, бумажных документов) в&nbsp;помещениях по&nbsp;адресу места нахождения Оператора;
                                                    li соблюдать установленные настоящей Политикой ограничения на доступ к информационным системам персональных данных (в том числе, путем установления паролей, обеспечивающих доступ к техническим средствам такой информационной системы);
                                                    li незамедлительно уведомлять руководителя Оператора обо всех фактах несанкционированного доступа к персональным данным и их неправомерной обработке.
                                            li Приказом Оператора назначается работник, ответственный за&nbsp;организацию обработки персональных данных и&nbsp;обеспечение безопасности персональных данных клиентов в&nbsp;информационных системах, который обеспечивает:
                                                ul.content-area__ul_dashed.content-area__ul_margin-top
                                                    li внутренний контроль за&nbsp;соблюдением Оператором и&nbsp;его работниками законодательства Российской Федерации о&nbsp;персональных данных, в&nbsp;том числе требований к&nbsp;защите персональных данных, а&nbsp;также политики Оператора в&nbsp;отношении обработки персональных данных, локальным актам Оператора;
                                                    li доведение до&nbsp;сведения работников Оператора положений законодательства Российской Федерации о&nbsp;персональных данных, локальных актов по&nbsp;вопросам обработки персональных данных, требований к&nbsp;защите персональных данных;
                                                    li организацию приема и&nbsp;обработки обращений и&nbsp;запросов клиентов или их&nbsp;представителей&nbsp;и (или) осуществление контроля за&nbsp;приемом и&nbsp;обработкой таких обращений и&nbsp;запросов;
                                                    li учет машинных носителей персональных данных путем составления и&nbsp;согласования с&nbsp;руководителем Оператора соответствующего письменного перечня машинных носителей;
                                                    li своевременное обнаружение фактов несанкционированного доступа к&nbsp;персональным данным клиентов и&nbsp;немедленное доведение этой информации до&nbsp;руководителя Оператора;
                                                    li недопущение воздействия на&nbsp;технические средства, с&nbsp;использование которых осуществляется обработка персональных данных клиентов, в&nbsp;результате которого может быть нарушено их&nbsp;функционирование;
                                                    li восстановление персональных данных клиентов, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
                                                    li постоянный контроль за обеспечением уровня защищенности персональных данных клиентов;
                                                    li соблюдение условий использования средств защиты информации, предусмотренных эксплуатационной и технической документацией;
                                                    li при обнаружении нарушений порядка предоставления персональных данных клиентов незамедлительное приостановление предоставления персональных данных пользователям информационной системы персональных данных до&nbsp;выявления причин нарушений и&nbsp;устранения этих причин;
                                                    li разбирательство и&nbsp;составление заключений по&nbsp;фактам несоблюдения условий хранения материальных носителей персональных данных клиентов, использования средств защиты информации, которые могут привести к&nbsp;нарушению конфиденциальности персональных данных клиентов или другим нарушениям, приводящим к&nbsp;снижению уровня защищенности персональных данных клиентов, разработка и&nbsp;принятие мер по&nbsp;предотвращению возможных опасных последствий подобных нарушений.
                                    li(data-anim='anim-3')
                                        h2 Ответственность за&nbsp;нарушение норм, регулирующих обработку персональных данных
                                        ol.content-area__ol_margin-top
                                            li Лица, виновные в&nbsp;нарушении порядка обращения с&nbsp;персональными данными клиентов, несут дисциплинарную, административную, гражданско-правовую или уголовную ответственность в&nbsp;соответствии с&nbsp;требованиями законодательства Российской Федерации.
                                    li(data-anim='anim-3')
                                        h2 Заключительные положения
                                        ol.content-area__ol_margin-top
                                            li Настоящая Политика вступает в&nbsp;силу с&nbsp;момента ее&nbsp;утверждения Оператором.
                                            li Внесение изменений в&nbsp;настоящую Политику осуществляется по&nbsp;решению Оператора. Внесенные изменения вступают в&nbsp;силу с&nbsp;момента утверждения новой редакции Политики Оператором.
                                            li Посещая сайт Оператора, используя информацию, размещенную на&nbsp;нем, Клиент подтверждаете факт ознакомления с&nbsp;настоящей Политикой и&nbsp;выражаете согласие с&nbsp;ее&nbsp;условиями.
                                            li Настоящая Политика является общедоступной. Общедоступность настоящей Политики обеспечивается публикацией ее&nbsp;текста в&nbsp;электронном виде на&nbsp;сайте Оператора, а&nbsp;также на&nbsp;бумажном носителе по&nbsp;адресу места нахождения Оператора с&nbsp;предоставлением возможности ознакомления с&nbsp;ним любому заинтересованному лицу.
            +footer
