mixin mobile-fixed-overlay(args)
    .mobile-fixed-overlay&attributes(attributes)
        +btn({tagName: 'a'})(href="#").btn_grey-border.btn_custom-padding Пробное занятие
        +btn({tagName: 'a'})(href="#").btn_grey-border.btn_custom-padding Войти
            // +svg({name: 'user'})
