[data-namespace="course"] {
    .course {
        &__features-title {
            margin-bottom: 8rem;

            @include media-breakpoint-down(md) {
                margin-bottom: 4rem;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 4rem;
                }
            }
        }

        &__picture {
            @include mobile-offset;
        }
    }
}
