.slider {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include  mobile-offset;

    &_margin {
        margin-bottom: 10rem;
    }

    &_contrast {
        #{$root} {
            &__btn {
                background-color: transparent;
                border: 2px solid rgba($color-9, .2);
            }
        }
    }

    &__img {
        max-width: 100%;
        //height: 100%;

        img {
            width: 100%;
        }
    }

    .swiper-wrapper {
        transition-timing-function: $animation-timing;
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 26px;
        margin-bottom: 7.5rem;
        width: auto;
        border-radius: 20px;
        box-shadow: 0 30px 80px rgba(55, 84, 170, 0.1);

        @include media-breakpoint-down(sm) {
            margin-bottom: 3rem;
        }

        &-bullet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: rgba($color-9, .2);
            cursor: pointer;
            outline: none;

            &:not(:last-child) {
                margin-right: 20px;
            }

            svg {
                display: none;
            }

            &_active {
                width: 20px;
                height: 20px;
                background-color: rgba($color-16, .5);

                svg {
                    display: block;
                }
            }
        }
    }
}
